@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
}

body .rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

body #app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  padding: 4rem;
  text-align: center;
  width: 50rem;
  border-radius: 10px;
  background: linear-gradient(349deg, #31572c 46%, black 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body #app #refresh {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0.6;
}

body #app #refresh:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #app #therm-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

body #app #error-div {
  background-color: #6a040f;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  display: none;
}

body #app h1 {
  padding-bottom: 2rem;
  color: white;
  letter-spacing: 0.5px;
}

body #app .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #app .wrap .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #app .wrap .input-group #convert-symbol {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #app .wrap .input-group .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #app .wrap .input-group .form-input span {
  color: white;
  margin-bottom: 0.2rem;
}

body #app .wrap .input-group .form-input select {
  margin-bottom: 0.4rem;
}

body #app .wrap .input-group .form-input input {
  margin: 0.3rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  width: 80%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

body #app .wrap .input-group .form-input input::-webkit-input-placeholder {
  font-size: 1rem;
}

body #app .wrap .input-group .form-input input:-ms-input-placeholder {
  font-size: 1rem;
}

body #app .wrap .input-group .form-input input::-ms-input-placeholder {
  font-size: 1rem;
}

body #app .wrap .input-group .form-input input::placeholder {
  font-size: 1rem;
}

body #app .wrap .input-group .form-input input:disabled {
  background-color: white;
}

body #app .wrap .input-group .form-input #to-unit {
  background-color: white;
  color: grey;
  margin: 0.3rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  width: 80%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body #app .wrap #convert {
  width: 30%;
  padding: 0.8rem;
  margin-top: 2rem;
  border: 1px solid white;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  border-radius: 5px;
}

body #app .wrap #convert:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 802px) {
  body #app {
    width: 95%;
    padding: 4rem 1rem;
    margin-top: 2rem;
  }
  body #app .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body #app .wrap .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body #app .wrap .input-group #convert-symbol {
    margin: 2rem 0;
  }
  body #app .wrap .input-group .form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body #app .wrap .input-group .form-input input {
    width: 70%;
  }
  body #app .wrap .input-group .form-input #to-unit {
    width: 70%;
  }
}

@media screen and (max-width: 525px) {
  body #app h1 {
    font-size: 1.8rem;
  }
  body #app #therm-icon {
    width: 30px;
  }
  body #app .wrap .form-input input {
    width: 100%;
  }
  body #app .wrap .form-input #to-unit {
    width: 100%;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */